﻿@using SSWA.Local.Web.UseCases.ManagePIDs
@model SSWA.Local.Web.UseCases.ManagePIDs.ViewModel
<h2>PIDs</h2>

@(Html.Kendo().Grid<ViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Width(150);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Revision);
            columns.Bound(c => c.DateModified).Format("{0: yyyy-MM-dd}");
            columns.Bound(c => c.Notes);
            columns.ForeignKey(f => f.ProjectId, (ViewData["Projects"] as Dictionary<int, string>).ToList(), "Key", "Value")
                   .Title("Project")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
            })
            .Read(r => r.Action("Get", "PIDs"))
            .Create(r => r.Action("Post", "PIDs"))
            .Update(r => r.Action("Put", "PIDs", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)