﻿
<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/ChemicalDeliveries/Manage">CHEMICAL DELIVIERIES</a></h3>
    </div>
    <div class="col-sm-4 text-right">
    </div>
</div>
<div class="row p-4">
    <div class="col-12 text-center">
      <h4>Under Construction</h4>
    </div>
</div>
