﻿@using SSWA.Local.Web.UseCases.ManageEquipment
@model SSWA.Local.Web.UseCases.ManageEquipment.ViewModel
<h2>Equipment</h2>

@(Html.Kendo().Grid<ViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Prefix);
            columns.Bound(c => c.Type);
            columns.Bound(c => c.INum);
            columns.Bound(c => c.Notes);
            columns.Bound(c => c.OriginalTag);
            columns.ForeignKey(f => f.ProjectId, (ViewData["Projects"] as Dictionary<int, string>).ToList(), "Key", "Value")
                   .Title("Project")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.ForeignKey(f => f.Area, (ViewData["Areas"] as Dictionary<string, string>).ToList(), "Key", "Value")
                   .Title("Area")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.ForeignKey(f => f.PID, (ViewData["PIDs"] as Dictionary<string, string>).ToList(), "Key", "Value")
                   .Title("PID")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
            })
            .Read(r => r.Action("Get", "Equipment"))
            .Create(r => r.Action("Post", "Equipment"))
            .Update(r => r.Action("Put", "Equipment", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)