﻿@using  SSWA.Local.Application.Services
@using  Microsoft.Extensions.Configuration
@inject ICurrentUserService CurrentUser
@inject IConfiguration Configuration  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSWA Onsite Platform - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment include="Development">
        <script src="~/js/bundle.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundle.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a asp-controller="Home" asp-action="" class="navbar-brand">SSWA Onsite Platform @( bool.Parse(Configuration["Environment:Test"]) ? "(TEST SITE)" : "" )</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-controller="Shifts" asp-action="">Daily Shift Log</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Inspections" asp-action="">Inspection Log</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="LabRegister" asp-action="ManageSamples">Lab Samples Log</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="ChemicalOrders" asp-action="Manage">Chemical Orders</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="ChemicalDeliveries" asp-action="Manage">Chemical Deliveries</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="PlantInstructions" asp-action="Manage">Plant Instructions</a></li>

                @if (CurrentUser.GetUser().Roles.Contains("admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Projects" asp-action="Manage">Plant Projects</a>
                            <a class="dropdown-item" asp-controller="Areas" asp-action="Manage">Plant Areas</a>
                            <a class="dropdown-item" asp-controller="Systems" asp-action="Manage">Plant Systems</a>
                            <a class="dropdown-item" asp-controller="Equipment" asp-action="Manage">Tags / Equipment</a>
                            <a class="dropdown-item" asp-controller="PIDs" asp-action="Manage">PIDs</a>
                            <a class="dropdown-item" asp-controller="ChemicalProducts" asp-action="Manage">Chemical Products</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="LabRegister" asp-action="ManageTemplates">Lab Sample Templates</a>

                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Area">Lab Process Areas</a>
                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Location">Lab Sample Locations</a>
                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Analyser">Lab Online Analysers</a>
                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Analyte">Lab Analytes</a>
                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Unit">Lab Analyte Units</a>
                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="SampleType">Lab Sample Types / Frequency</a>

                            <a class="dropdown-item" asp-controller="Lab" asp-action="Manage" asp-route-entitytype="Laboratory">Lab Laboratories</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Users" asp-action="GetUsers">Users</a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><span class="nav-link">@CurrentUser.GetUser().Name</span></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                }
            </ul>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid">
        @RenderBody()
    </div>



    @RenderSection("Scripts", required: false)
</body>
</html>
