﻿@using SSWA.Local.Web.UseCases.ManageChemicalProductOrders
@model SSWA.Local.Web.UseCases.ManageChemicalProductOrders.ViewModel
<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/ChemicalOrders/Manage">CHEMICAL ORDERS</a></h3>
    </div>
    <div class="col-sm-4 text-right">
    </div>
</div>
<div class="row p-4">
    <div class="col-12">
        <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
            <li class="nav-item">
                    <a class="nav-link active" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="true">Open Orders</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Order History</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="open" role="tabpanel" aria-labelledby="open-tab">

                @(Html.Kendo().Grid<ViewModel>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id).Visible(false);

                        columns.ForeignKey(f => f.ChemicalProductId, (ViewData["ChemicalProducts"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                .Title("Chemical")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.ForeignKey(f => f.Status, (ViewData["Statuses"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Status")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.Bound(c => c.ExpectedDeliveryDate)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.ExpectedDeliveryTime)
                                .Format(@"{0:hh\:mm tt}")
                                .EditorTemplateName("TimeSpan")
                                .Width(90);

                        columns.ForeignKey(f => f.ArrivalAcknowledgedById, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Arrival Acknowledged By")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(100);

                        columns.Bound(c => c.IdentifiedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.OrderedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.ReceivedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.Comments)
                                .EditorTemplateName("TextArea");

                        columns.Command(command => { command.Edit(); }).Width(190);
                    })
                    .ToolBar(t => { t.Create(); })
                    .DataSource(ds => ds.WebApi()
                        .Model(m =>
                        {
                            m.Id(i => i.Id);
                            m.Field(f => f.ChemicalProductId);
                            m.Field(f => f.Status);
                            m.Field(f => f.ExpectedDeliveryDate);
                            m.Field(f => f.ExpectedDeliveryTime);
                            m.Field(f => f.ArrivalAcknowledgedById);
                            m.Field(f => f.IdentifiedAt);
                            m.Field(f => f.OrderedAt);
                            m.Field(f => f.ReceivedAt);
                            m.Field(f => f.Comments);
                        })
                        .Read(r => r.Action("Get", "ChemicalOrders"))
                        .Create(r => {
                            r.Action("Post", "ChemicalOrders");
                            r.Data("convertData");
                        })
                        .Update(r =>
                        {
                            r.Action("Put", "ChemicalOrders", new { id = "{0}" });
                            r.Data("convertData");
                        })
                    )
                    .Events(e => {
                        e.Edit("onEdit");
                        e.Save("onSave");
                        e.SaveChanges("onSave");
                    })
                )

            </div>
            <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">

                @(Html.Kendo().Grid<ViewModel>()
                    .Name("grid2")
                    .Filterable(f => f.Mode(GridFilterMode.Menu))
                    .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id)
                                .Width(75)
                                .Visible(false)
                                .Filterable(f => f.Enabled(false));

                        columns.ForeignKey(f => f.ChemicalProductId, (ViewData["ChemicalProducts"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                .Title("Chemical")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(200);

                        columns.ForeignKey(f => f.Status, (ViewData["Statuses"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Status")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.Bound(c => c.ExpectedDeliveryDate)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.ExpectedDeliveryTime)
                                .Format(@"{0:hh\:mm tt}")
                                .EditorTemplateName("TimeSpan")
                                .Width(90);

                        columns.ForeignKey(f => f.ArrivalAcknowledgedById, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Arrival Acknowledged By")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(100);

                        columns.Bound(c => c.IdentifiedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.OrderedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.ReceivedAt)
                                .Format(@"{0:dd/MM/yyyy}")
                                .EditorTemplateName("DateTime")
                                .Width(100);

                        columns.Bound(c => c.Comments)
                                .EditorTemplateName("TextArea");

                        columns.Command(command => { command.Edit(); }).Width(190);
                    })
                    .DataSource(ds => ds.WebApi()
                        .Model(m =>
                        {
                            m.Id(i => i.Id);
                            m.Field(f => f.ChemicalProductId);
                            m.Field(f => f.Status);
                            m.Field(f => f.ExpectedDeliveryDate);
                            m.Field(f => f.ExpectedDeliveryTime);
                            m.Field(f => f.ArrivalAcknowledgedById);
                            m.Field(f => f.IdentifiedAt);
                            m.Field(f => f.OrderedAt);
                            m.Field(f => f.ReceivedAt);
                            m.Field(f => f.Comments);
                        })
                        .Read(r => r.Action("History", "ChemicalOrders"))
                        .Update(r =>
                        {
                            r.Action("Put", "ChemicalOrders", new { id = "{0}" });
                            r.Data("convertData");
                        })
                        .PageSize(50)
                        .Sort(x => x.Add(i => i.Id).Descending())
                    )
                    .Pageable()
                    .Events(e =>
                    {
                        e.Edit("onEdit");
                        e.Save("onSave");
                        e.SaveChanges("onSave");
                    })
                )

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function convertData(data) {

        data.ExpectedDeliveryDate = kendo.toString(data.ExpectedDeliveryDate, "yyyy-MM-dd hh:mm:ss tt");
        data.ExpectedDeliveryTime = kendo.toString(data.ExpectedDeliveryTime, "yyyy-MM-dd hh:mm:ss tt");

        data.IdentifiedAt = kendo.toString(data.IdentifiedAt, "yyyy-MM-dd hh:mm:ss tt");
        data.OrderedAt = kendo.toString(data.OrderedAt, "yyyy-MM-dd hh:mm:ss tt");
        data.ReceivedAt = kendo.toString(data.ReceivedAt, "yyyy-MM-dd hh:mm:ss tt");

        console.log(data);
    }

    function onEdit(e) {

        if (e.model.isNew() == false) {
            e.container.find("input[name='ChemicalProductId']").data().kendoDropDownList.enable(false);
        }
        else {
            //e.container.find("input[name='IdentifiedAt']").data().kendoDatePicker.enable(false);
            //e.container.find("input[name='OrderedAt']").data().kendoDatePicker.enable(false);
            //e.container.find("input[name='ReceivedAt']").data().kendoDatePicker.enable(false);

        }
    }

    function onSave(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
</script>