﻿@using SSWA.Local.Application
@model SSWA.Local.Application.ShiftOutput
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;

@inject SSWA.Local.Application.Services.ICurrentUserService UserService;

@{
    ViewData["Title"] = "Daily Shift Log";
}

@{var backgroundColor = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "warning" : "primary"; }
@{var textColor = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "dark" : "light"; }
@{var icon = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "sun" : "moon"; }
<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
        <shift-navigation date="@Model.PreviousShift.Date" shift="@Model.PreviousShift.Shift" filter-id="@Model.PreviousShift.FilterId" controller="Shifts" position="left">
        </shift-navigation>
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/Shifts">DAILY SHIFT LOG</a></h3>
        <div class="text-@textColor">
            <h6 class="bg-dark text-light d-inline-block p-2 rounded m-0 mx-1 ">@Model.ThisShift.Date.Date.ToString("dd MMM yy").ToUpperInvariant()</h6>
            <h6 class="bg-@backgroundColor d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-@icon"></i> @Model.ThisShift.Shift.ToUpperInvariant() SHIFT</h6>
            @if (Model.ThisShift.IsCurrentShift)
            {
                <h6 class="bg-success text-light d-inline-block p-2 rounded m-0 mx-1"> <i class="fas fa-fw fa-bolt"></i> LIVE SHIFT</h6>
            }
            else if (Model.ThisShift.IsPastShift)
            {
                <h6 class="bg-secondary text-white-50 d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-clock"></i> PAST SHIFT</h6>

            }
            else if (Model.ThisShift.IsFutureShift)
            {
                <h6 class="bg-danger text-light d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-clock"></i> FUTURE SHIFT</h6>

            }
        </div>

    </div>
    <div class="col-sm-4 text-right">
        <shift-navigation date="@Model.NextShift.Date" shift="@Model.NextShift.Shift" filter-id="@Model.PreviousShift.FilterId" controller="Shifts" position="right">
        </shift-navigation>
    </div>
</div>
<div class="row p-4">
    <div class="col-2">
        <form asp-action="SearchShift" method="get">
            <dl class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-8">
                    <kendo-datepicker 
                                      name="datepicker" 
                                      start="CalendarView.Month" 
                                      depth="CalendarView.Month" 
                                      format="yyyy-MM-dd" 
                                      value="Model.Date" 
                                      for="Date"
                                      class="w-100"/>
                </dd>
                <dt class="col-4">
                    Shift
                </dt>
                <dd class="col-8">
                    <kendo-dropdownlist for="ShiftType"
                                        bind-to='new List<string>{"Day", "Night"}'
                                        class="w-100">
                    </kendo-dropdownlist>
                </dd>
                <dt class="col-4">
                    Operator
                </dt>
                <dd class="col-8">
                    @if (UserService.GetUser().Roles.Contains("admin"))
                    {

                        <kendo-dropdownlist for="OperatorId"
                                            bind-to='(ViewData["Users"] as Dictionary<string, string>).Select(x => new { Id = x.Key, Name = x.Value })' 
                                            datavaluefield="Id"
                                            datatextfield="Name"
                                            class="w-100">
                        </kendo-dropdownlist>
                    }
                    else
                    {
                        @Html.Hidden("OperatorId", UserService.GetUser().Id, null);
                        <span>@UserService.GetUser().Name</span>
                    }

                </dd>
                <dt class="col-4">
                    &nbsp;
                </dt>
                <dd class="col-8">
                    <button type="submit" class="btn btn-sm float-right"><i class="fas fa-search"></i> Go</button>
                </dd>
            </dl>
        </form>

    </div>
    <div class="col-1">

    </div>
    <div class="col-9" >
        <form asp-action="Update" asp-controller="Shifts">
            @Html.HiddenFor(x => x.Date)
            @Html.HiddenFor(x => x.ShiftType)
            @Html.HiddenFor(x => x.Operator)
            @Html.HiddenFor(x => x.OperatorId)
            @Html.HiddenFor(x => x.Operator.UserId)
            @Html.HiddenFor(x => x.ShiftId)
            <div class="row">
                <div class="col-5">

                    <dl class="row">
                        <dt class="col-6 text-right">
                            @Html.DisplayNameFor(model => model.Swell) (m)
                        </dt>
                        <dd class="col-6">
                            @Html.Kendo().NumericTextBoxFor(model => model.Swell).HtmlAttributes(new { @class = "w-100" })
                        </dd>
                        <dt class="col-6 text-right">
                            Max F/Cast Wind Speed (km/h)
                        </dt>
                        <dd class="col-6">
                            @Html.Kendo().NumericTextBoxFor(model => model.MaxForecastWindSpeed).HtmlAttributes(new { @class = "w-100" })
                        </dd>
                        <dt class="col-6 text-right">
                            Low Tide Time
                        </dt>
                        <dd class="col-6">
                            @Html.Kendo().TimePickerFor(model => model.LowTideTime).Interval(1).HtmlAttributes(new { @class = "w-100" })
                        </dd>
                        <dt class="col-6 text-right">
                            Rain Forecast (mm)
                        </dt>
                        <dd class="col-6">
                            @Html.Kendo().NumericTextBoxFor(model => model.RainForecast).HtmlAttributes(new { @class = "w-100" })
                        </dd>
                        <dt class="col-6">
                            &nbsp;
                        </dt>
                        <dd class="col-6">
                            <button type="submit" class="btn btn-sm btn-primary float-right"><i class="fas fa-pen-alt"></i> Update Details / Comments</button>
                        </dd>
                    </dl>
                </div>
                <div class="col-7">
                    <dl class="row">
                        <dt class="col-2 text-right">
                            @Html.DisplayNameFor(model => model.Comments)
                        </dt>
                        <dd class="col-10">
                            @Html.TextAreaFor(m => m.Comments, new { @class = "k-textbox", style = "width: 100%; min-height: 150px", rows = 5 })
                        </dd>
                        <dt class="col-2 text-right">
                            OHSE Comments
                        </dt>
                        <dd class="col-10">
                            @Html.TextAreaFor(m => m.OHSEComments, new { @class = "k-textbox", style = "width: 100%; min-height: 150px", rows = 5 })
                        </dd>
                    </dl>
                </div>
            </div>

        </form>
    </div>








</div>
<div class="row">
    <div class="col-sm-12">


        @(Html.Kendo().Grid<ShiftLogOutput>()
                                        .Name("grid2")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(c => c.LogId).Visible(false);
                                            columns.Bound(c => c.Time).Format(@"{0:hh\:mm tt}").EditorTemplateName("TimeSpan").Width(90);
                                            columns.Bound(c => c.Operator.Name).Title("Operator").Width(90);
                                            columns.Bound(c => c.Tag).EditorTemplateName("ShiftLogTag").Width(120);
                                            columns.Bound(c => c.AreaId).Title("Area").ClientTemplate("#if(AreaName === null){# N/A #}else{# #=AreaName#  #}#").EditorTemplateName("ShiftLogAreaId").Width(150);
                                            columns.Bound(c => c.PID).EditorTemplateName("ShiftLogPID").Width(150);
                                            columns.Bound(c => c.Description).EditorTemplateName("TextArea");
                                            columns.Bound(c => c.MaintenanceRequired).Visible(false);
                                            columns.Bound(c => c.MaintenanceDescription).EditorTemplateName("TextArea");
                                            columns.Bound(c => c.MaximoRefNo).Title("MAXIMO Ref.").EditorTemplateName("Text").Width(130);
                                            columns.Bound(c => c.Comments).EditorTemplateName("TextArea");
                                            columns.Command(command => { command.Edit(); }).Width(180);
                                        })
                                        .Editable(e => e.Mode(GridEditMode.InLine))
                                        .ToolBar(t => { t.Create(); })
                                        .DataSource(ds => ds.WebApi()
                                            .Model(m =>
                                            {
                                                m.Id(i => i.LogId);
                                                m.Field(f => f.Time).DefaultValue(DateTime.Now);
                                                m.Field(f => f.Operator).Editable(false).DefaultValue(new UserOutput());
                                                m.Field(f => f.Operator.Name).Editable(false);
                                                m.Field(f => f.Operator.UserId).Editable(false);
                                            })
                                            .Read(r => r.Action("Get", "ShiftLogs", new { date = Model.ThisShift.Date.ToString("yyyy-MM-dd"), shiftType = Model.ThisShift.Shift, operatorId = Model.ThisShift.FilterId }))
                                            .Create(r => {
                                                r.Action("Post", "ShiftLogs", new { date = Model.ThisShift.Date.ToString("yyyy-MM-dd"), shiftType = Model.ThisShift.Shift, operatorId = Model.ThisShift.FilterId });
                                                r.Data("convertData");
                                            })
                                            .Update(r =>
                                            {
                                                r.Action("Put", "ShiftLogs", new { id = "{0}" });
                                                r.Data("convertData");
                                            })
                                            .PageSize(100))
                                        .Pageable()
                                        .Events(e =>
                                        {
                                            e.Edit("onEdit");
                                            e.Save("onSave");
                                            e.SaveChanges("onSave");
                                        })
          
        )
        @*<kendo-grid name="grid">
            <datasource type="DataSourceTagHelperType.WebApi" page-size="20">
                <transport>
                    <create url="ShiftLogs?date=@Model.CurrentShift.Date.ToString("yyyy")&shiftType=@Model.CurrentShift.Shift&operatorId=@Model.CurrentShift.OperatorId" type="POST" />
                    <read url="/ShiftLogs" type="GET" />
                    <update url="/ShiftLogs/{0}" type="PUT" />
                </transport>
                <schema>
                    <model>
                        <fields>
                            <field type="Id" name="LogId"></field>
                            <field name="Time" from="Time" editable="false"></field>
                            <field name="Operator" from="Operator"></field>
                            <field name="Operator.Name" from="Operator.Name" type="String" editable="false"></field>
                            <field name="Operator.Id" from="Operator.Id" type="String"></field>
                            <field name="Date" from="Date" type="Date"></field>
                        </fields>
                    </model>
                </schema>
            </datasource>
            <editable mode="inline" />
            <pageable button-count="5" refresh="true" page-sizes="new int[] { 5, 10, 20 }">
            </pageable>
            <toolbar>
                <toolbar-button name="create"></toolbar-button>
            </toolbar>
            <columns>
                <column field="Time" />
                <column field="Operator.Name" />
                <column field="AreaId" editor="areaIdEditor" />
                <column field="Tag" />
                <column field="PID" />
                <column field="Description" />
                <column field="MaintenanceRequired" />
                <column field="MaintenanceDescription" />
                <column field="MaximoRefNo" />
                <column field="Comments" />
                <column width="250">
                    <commands>
                        <column-command name="edit"></column-command>
                    </commands>
                </column>
            </columns>

        </kendo-grid>*@
    </div>
</div>

<script>
    function convertData(data) {

        data.Time = kendo.toString(data.Time, "yyyy-MM-dd hh:mm:ss tt");

    }

    function filterTags() {
        return {
            areaId: $("#AreaId").data("kendoDropDownList").value()
        };
    }

    function onEdit(e) {
        if (e.model.isNew()) {
            let currentdate = new Date();
            e.model.set("Time", currentdate.toISOString());
        }
    }

    function filterPIDs() {
        return {
            tag: $("#Tag").data("kendoAutoComplete").value()
        };
    }

    function onSave(e) {
        e.sender.one("dataBound", function () {
            e.sender.dataSource.read();
        });
    }
</script>
