﻿@using SSWA.Local.Web.UseCases.ManagePlantInstructions
@model SSWA.Local.Web.UseCases.ManagePlantInstructions.ViewModel
<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/PlantInstructions/Manage">PLANT INSTRUCTIONS</a></h3>
    </div>
    <div class="col-sm-4 text-right">
    </div>
</div>
<div class="row p-4">
    <div class="col-12">
                @(Html.Kendo().Grid<ViewModel>()
                    .Name("grid2")
                    .Filterable(f => f.Mode(GridFilterMode.Menu))
                    .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id)
                                .Width(75)
                                .Visible(false)
                                .Filterable(f => f.Enabled(false));

                        columns.Bound(c => c.DateCreated)
                               .Format(@"{0:dd/MM/yyyy}")
                               .EditorTemplateName("DateTime")
                               .Width(80);

                        columns.Bound(c => c.Title)
                                .EditorTemplateName("TextArea")
                                .Width(250);

                        columns.Bound(c => c.Description)
                                .EditorTemplateName("TextArea");

                        columns.ForeignKey(f => f.InstructionFromRoleId, (ViewData["Positions"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                .Title("Instruction From")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.ForeignKey(f => f.Status, (ViewData["Statuses"] as Dictionary<string, string>).ToList(), "Key", "Value")
                            .Title("Status")
                            .EditorTemplateName("ForeignKeyDropDown")
                            .Width(100);

                        columns.Bound(c => c.Duration)
                                .EditorTemplateName("Int")
                                .Width(90);

                        columns.ForeignKey(f => f.DurationUnits, (ViewData["Units"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                 .Title("Duration Units")
                                 .EditorTemplateName("ForeignKeyDropDown")
                                 .Width(80);

                        columns.ForeignKey(f => f.OperatorUserId, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Operator")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.ForeignKey(f => f.AuthorisedByUserId, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                .Title("Authoriser")
                                .EditorTemplateName("ForeignKeyDropDown")
                                .Width(150);

                        columns.Command(command => { command.Edit(); }).Width(190);
                    })
                    .ToolBar(t => { t.Create(); })
                    .DataSource(ds => ds.WebApi()
                        .Model(m =>
                        {
                            m.Id(i => i.Id);
                            m.Field(f => f.Id).Editable(false);
                            m.Field(f => f.DateCreated);
                            m.Field(f => f.Title);
                            m.Field(f => f.Description);
                            m.Field(f => f.InstructionFromRoleId);
                            m.Field(f => f.Status);
                            m.Field(f => f.Duration);
                            m.Field(f => f.DurationUnits);
                            m.Field(f => f.OperatorUserId);
                            m.Field(f => f.AuthorisedByUserId);

                        })
                        .Create(r => r.Action("Post", "PlantInstructions"))
                        .Read(r => r.Action("Get", "PlantInstructions"))
                        .Update(r => r.Action("Put", "PlantInstructions"))
                        .Sort(x => x.Add(i => i.DateCreated).Descending())
                    )
                )

    </div>
</div>


<script type="text/javascript">
    function onEdit(e) {

        if (e.model.isNew() == false) {
            e.container.find("input[name='ChemicalProductId']").data().kendoDropDownList.enable(false);
        }
        else {
            e.container.find("input[name='IdentifiedAt']").data().kendoDatePicker.enable(false);
            e.container.find("input[name='OrderedAt']").data().kendoDatePicker.enable(false);
            e.container.find("input[name='ReceivedAt']").data().kendoDatePicker.enable(false);
        }
    }
</script>