﻿@using SSWA.Local.Web.UseCases.ManageProjects
@model SSWA.Local.Web.UseCases.ManageProjects.ViewModel
<h2>Projects</h2>

@(Html.Kendo().Grid<ViewModel>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id).Width(50);
                columns.Bound(c => c.Name);
                columns.Command(command => { command.Edit(); }).Width(250);
            })
                  .Sortable()
          .Pageable()
          .Filterable()
             .DataSource(dataSource =>
                      dataSource
                        .WebApi()
                        .Model(model =>
                        {
                            model.Id(p => p.Id);
                            model.Field(f => f.Id);
                        })
                        .Events(events => events.Error("error_handler"))
                        .Read(read => read.Action("Get", "Projects"))
                        .Create(create => create.Action("Post", "Projects"))
                        .Update(update => update.Action("Put", "Projects", new { id = "{0}" }))
                        .Destroy(destroy => destroy.Action("DELETE", "Product", new { id = "{0}" }))
                  )

)

@* All initialization scripts are rendered to the bottom of the page, see _Layout.cshtml *@
@section scripts {
    @Html.Kendo().DeferredScripts()
}

<script>

    function error_handler(e) {
        var errors = $.parseJSON(e.xhr.responseText);

        if (errors) {
            alert("Errors:\n" + errors.join("\n"));
        }
    }

    $(function () {
        var grid = $("#grid").data("kendoGrid");

        // WebAPI needs the ID of the entity to be part of the URL e.g. PUT /api/Product/80
        grid.dataSource.transport.options.update.url = function (data) {
            return "/Projects/" + data.Id;
        }

    });

</script>