﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabAnalyte
<h2>Lab Register - Analytes</h2>

@(Html.Kendo().Grid<LabAnalyte>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Symbol);
            columns.Bound(c => c.Title);
            columns.ForeignKey(f => f.UnitId, (ViewData["Units"] as Dictionary<int, string>).ToList(), "Key", "Value")
                   .Title("Default Unit")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.Bound(c => c.Comments);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
            })
            .Read(r => r.Action("GetAnalytes", "Lab"))
            .Create(r => r.Action("PostAnalyte", "Lab"))
            .Update(r => r.Action("PutAnalyte", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)