﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabAnalyser
<h2>Lab Register - Online Analysers</h2>

@(Html.Kendo().Grid<LabAnalyser>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Description);
            columns.ForeignKey(f => f.LocationId, (ViewData["Locations"] as Dictionary<int, string>).ToList(), "Key", "Value")
                   .Title("Sample Location")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.Bound(c => c.Comments);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
            })
            .Read(r => r.Action("GetAnalysers", "Lab"))
            .Create(r => r.Action("PostAnalyser", "Lab"))
            .Update(r => r.Action("PutAnalyser", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)