﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabArea
<h2>Lab Register - Process Areas</h2>

@(Html.Kendo().Grid<LabArea>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Description);
            columns.Bound(c => c.Comments);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Name);
                m.Field(f => f.Description);
                m.Field(f => f.Comments);
            })
            .Read(r => r.Action("GetAreas", "Lab"))
            .Create(r => r.Action("PostArea", "Lab"))
            .Update(r => r.Action("PutArea", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)