﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabLaboratory
<h2>Lab Register - Laboratories</h2>

@(Html.Kendo().Grid<LabLaboratory>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.AddressLine1);
            columns.Bound(c => c.AddressLine2);
            columns.Bound(c => c.Suburb);
            columns.Bound(c => c.State);
            columns.Bound(c => c.Postcode);
            columns.Bound(c => c.Phone);
            columns.Bound(c => c.Fax);
            columns.Bound(c => c.Email);
            columns.Bound(c => c.Notes);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Name);
                m.Field(f => f.AddressLine1);
                m.Field(f => f.AddressLine2);
                m.Field(f => f.Suburb);
                m.Field(f => f.State);
                m.Field(f => f.Postcode);
                m.Field(f => f.Phone);
                m.Field(f => f.Fax);
                m.Field(f => f.Email);
                m.Field(f => f.Notes);
            })
            .Read(r => r.Action("GetLaboratories", "Lab"))
            .Create(r => r.Action("PostLaboratory", "Lab"))
            .Update(r => r.Action("PutLaboratory", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)