﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabLocation
<h2>Lab Register - Sample Locations</h2>

@(Html.Kendo().Grid<LabLocation>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Tag).Title("Tag / Abbrev.");
            columns.Bound(c => c.Location).Title("Sample Point");
            columns.ForeignKey(f => f.AreaId, (ViewData["Areas"] as Dictionary<int, string>).ToList(), "Key", "Value")
                   .Title("Process Area")
                   .EditorTemplateName("ForeignKeyDropDown");
            columns.Bound(c => c.Comments);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Tag);
                m.Field(f => f.Location);
                m.Field(f => f.AreaId);
                m.Field(f => f.Comments);
            })
            .Read(r => r.Action("GetLocations", "Lab"))
            .Create(r => r.Action("PostLocation", "Lab"))
            .Update(r => r.Action("PutLocation", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)