﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabSampleType
<h2>Lab Register - Sample Types / Frequency</h2>

@(Html.Kendo().Grid<LabSampleType>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.SortOrder);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Name);
                m.Field(f => f.SortOrder);
            })
            .Read(r => r.Action("GetSampleTypes", "Lab"))
            .Create(r => r.Action("PostSampleType", "Lab"))
            .Update(r => r.Action("PutSampleType", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)