﻿@using SSWA.Local.Core.Lab
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;

@model SSWA.Local.Core.Lab.LabSampleHeader
<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/LabRegister/Manage/Samples">LAB SAMPLES LOG</a></h3>
    </div>
    <div class="col-sm-4 text-right">
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Lab Sample</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="/LabRegister/Manage/Samples">

                    <div class="row my-5">
                        <div class="col-3 text-right">
                            <input type="hidden" name="Type" value="internal" />
                            <strong>Internal Routine Sample</strong>
                        </div>
                        <div class="col-6">
                            @(Html.Kendo().DropDownList()
                                                            .Name("TemplateId")
                                                            .DataValueField("Id")
                                                            .DataTextField("Name")
                                                            .DataSource(ds => ds
                                                                .Read(r => r.Action("GetTemplateLookup", "LabRegister", new { external = false }))
                                                            )
                                                            .HtmlAttributes(new { data_value_Primitive = "true", style = "width: 100%;" })
                            )
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Add Internal Sample" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                </form>
                <hr />
                <form method="post" action="/LabRegister/Manage/Samples">
                    <div class="row my-5">
                        <div class="col-3 text-right">
                            <input type="hidden" name="Type" value="single" />
                            <strong>Single Sample</strong>
                        </div>
                        <div class="col-6">
                            <em>No Template</em>
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Add Single Sample" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                </form>
                <hr />
                <form method="post" action="/LabRegister/Manage/Samples">

                    <div class="row my-5">
                        <div class="col-3 text-right">
                            <input type="hidden" name="Type" value="external" />
                            <strong>External Routine Sample</strong>
                        </div>
                        <div class="col-6">
                            @(Html.Kendo().DropDownList()
                                                    .Name("TemplateId")
                                                .DataValueField("Id")
                                                .DataTextField("Name")
                                                .DataSource(ds => ds
                                                    .Read(r => r.Action("GetTemplateLookup", "LabRegister", new { external = true }))
                                                )
                                                .HtmlAttributes(new { data_value_Primitive = "true", style = "width: 100%;", id = "ExternalTemplateId" })
                            )
                        </div>
                        <div class="col-3">
                            <input type="submit" value="Add External Sample" class="btn btn-sm btn-primary">
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="row p-4">
    <div class="col-12">
        <button type="button" class="btn btn-primary my-2 mr-3" data-toggle="modal" data-target="#myModal">
            New Sample [Routine / Single]
        </button>

        <a class="btn btn-secondary my-2 mr-3" target="_blank" href="http://ssjvbinsql01/Reports_ATW_DB/Pages/Report.aspx?ItemPath=%2fLab+Samples+Reports%2fOut+Of+Range+Report">Out of Range Report</a>
        <a class="btn btn-secondary my-2 mr-3" target="_blank" href="http://ssjvbinsql01/Reports_ATW_DB/Pages/Report.aspx?ItemPath=%2fLab+Samples+Reports%2fSample+Results+Report">Lab Sample Results Report</a>
        <a class="btn btn-secondary my-2 mr-3" target="_blank"  href="http://ssjvbinsql01/Reports_ATW_DB/Pages/Folder.aspx?ItemPath=%2fLab+Samples+Reports&ViewMode=List">All Lab Reports</a>


        @(Html.Kendo().Grid<LabSampleHeader>()
                                                                                                .Name("grid")
                                                                                                .HtmlAttributes(new { style = "min-width: 1600px;", @class = "k-small-font k-header-table" })
                                                                                                .Columns(columns =>
                                                                                                {
                                                                                                    columns.Bound(c => c.Id).Visible(false);
                                                                                                    columns.Bound(c => c.SampleDateTime)
                                                                                                        .Title("Date")
                                                                                                        .Format(@"{0:dd/MM/yyyy hh:mm tt}")
                                                                                                        .EditorTemplateName("DateTimePicker")
                                                                                                        .Width(175);
                                                                                                    columns.ForeignKey(f => f.SampleType, (ViewData["SampleTypes"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Sample Type")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(100);
                                                                                                    columns.ForeignKey(f => f.LocationId, (ViewData["Locations"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Location")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(150);
                                                                                                    columns.ForeignKey(f => f.ResultsCheckedBy, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Checked By")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(100);
                                                                                                    columns.ForeignKey(f => f.SampledBy, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Sampled By")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(100);
                                                                                                    columns.ForeignKey(f => f.AnalysedBy, (ViewData["Users"] as Dictionary<string, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Analysed By")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(100);


                                                                                                    columns.ForeignKey(f => f.LaboratoryId, (ViewData["Labs"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                                                                                        .Title("Lab")
                                                                                                        .EditorTemplateName("ForeignKeyDropDown")
                                                                                                        .Width(100);

                                                                                                    columns.Bound(c => c.LabReference).Width(75).EditorTemplateName("Text");
                                                                                                    columns.Bound(c => c.DateSamplesSent)
                                                                                                        .Title("Samples Sent")
                                                                                                        .Format(@"{0:dd/MM/yyyy}")
                                                                                                        .EditorTemplateName("DateTime")
                                                                                                        .Width(100);

                                                                                                    columns.Bound(c => c.DateResultsReceived)
                                                                                                        .Title("Results Received")
                                                                                                        .Format(@"{0:dd/MM/yyyy}")
                                                                                                        .EditorTemplateName("DateTime")
                                                                                                        .Width(100);


                                                                                                    columns.Bound(c => c.Comments).EditorTemplateName("TextArea").Width(250);
                                                                                                    columns.Command(command =>
                                                                                                    {
                                                                                                        command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                                                                                        command.Destroy().Text(" ");
                                                                                                    }).Width(100);
                                                                                                })
                                                                                                    //.ToolBar(t => { t.Create().Text("Create New Template"); })
                                                                                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                                                                                .DataSource(ds => ds.WebApi()
                                                                                                    .Model(m =>
                                                                                                    {
                                                                                                        m.Id(i => i.Id);
                                                                                                    })
                                                                                                    .Sort(s => s.Add(f => f.SampleDateTime).Descending())
                                                                                                    .Read(r => r.Action("GetSamples", "LabRegister"))
                                                                                                    .Update(r => r.Action("PutSample", "LabRegister", new { id = "{0}" }).Data("convertData"))
                                                                                                    .Destroy(r => r.Action("DeleteSample", "LabRegister", new { id = "{0}" }))
                                                                                                    .PageSize(20))
                                                                                                .Pageable()
                                                                                                .Filterable()
                                                                                                .Sortable()
                                                                                                .Resizable(r => r.Columns(true))
                                                                                                .Scrollable(s => s.Enabled(true).Height("auto"))
                                                                                                .ColumnMenu()
                                                                                                .ClientDetailTemplateId("template")
                                                                                                .Events(events => events.DataBound("dataBound").DetailExpand("detailExpand").DetailCollapse("detailCollapse").DetailInit("detailInit"))
        )
    </div>
</div>

<script id="template" type="text/kendo-tmpl">
    #if(Id > 0){#
    @(Html.Kendo().TabStrip()
                                              .Name("tabStrip_#=Id#")
                                              .SelectedIndex(0)
                                              .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
                                              .Items(items =>
                                              {
                                                  items.Add().Text("Results").Content(
                                        @<text>
                                            @(Html.Kendo().Grid<LabSampleDetail>()
                                      .Name("grid_#=Id#")
                                      .HtmlAttributes(new { @class = "k-small-font k-detail-table" })
                                      .Columns(columns =>
                                      {
                                          columns.Bound(c => c.Id).Visible(false);
                                          columns.Bound(c => c.SampleId).Visible(false);
                                          columns.Bound(c => c.AnalyserId).Width(150).Title("Analyser").EditorTemplateName("LabAnalyser")
                  .EditorViewData(new { locationId = "#=LocationId#" });
                                          columns.ForeignKey(f => f.AnalyteId, (ViewData["Analytes"] as Dictionary<int, string>
                  ).ToList(), "Key", "Value")
                  .Title("Analyte").Width(150)
                  .EditorTemplateName("LabAnalyte");
                                          columns.ForeignKey(f => f.UnitId, (ViewData["Units"] as Dictionary<int, string>
                      ).ToList(), "Key", "Value")
                      .Title("Unit").Width(150)
                      .EditorTemplateName("LabUnit");
                                          columns.Bound(o => o.AnalyserResult).Width(75).EditorTemplateName("Decimal").HtmlAttributes(new { @class = "text-right" });
                                          columns.Bound(o => o.Symbol).Width(25).Title("<").EditorTemplateName("Text");
                                          columns.Bound(o => o.LabResult).Width(75).EditorTemplateName("Decimal").HtmlAttributes(new { @class = "text-right" });
                                          columns.Bound(o => o.LowerLimit).Width(75).Title("Min").EditorTemplateName("Decimal").HtmlAttributes(new { @class = "text-right" });
                                          columns.Bound(o => o.UpperLimit).Width(75).Title("Max").EditorTemplateName("Decimal").HtmlAttributes(new { @class = "text-right" });
                                          columns.Bound(o => o.ExpectedRange).Width(100).HtmlAttributes(new { @class = "text-right" });
                                          columns.Bound(o => o.OutOfRange).Width(100).Title("Analyser Out Of Range").ClientTemplate("\\#= outOfRange(data.OutOfRange) \\#").HtmlAttributes(new { @class = "text-center" });
                                          columns.Bound(o => o.LabOutOfRange).Width(100).ClientTemplate("\\#= outOfRange(data.LabOutOfRange) \\#").HtmlAttributes(new { @class = "text-center" });
                                          columns.ForeignKey(o => o.DefaultUnitId, (ViewData["DefaultAnalyteUnits"] as Dictionary<int, string>
                  ).ToList(), "Key", "Value")
                  .Hidden(true)
                  .EditorTemplateName("ForeignKeyDropDown");
                                          columns.Command(command =>
                                          {
                                              command.Edit().Text(" ").UpdateText(" ").CancelText(" ");
                                              command.Destroy().Text(" ");
                                          }).Width(100);
                                      })
                                                  .ToolBar(t => { t.Create().Text("Add New Result").HtmlAttributes(new { @class="btn btn-sm btn-primary" }); })
                                                  .Editable(editable => editable.Mode(GridEditMode.InLine))

                                                  .DataSource(ds => ds.WebApi()
                                                  .Model(m =>
                                                  {
                                                      m.Id(i => i.Id);
                                                      m.Field(i => i.SampleId);
                                                      m.Field(f => f.ExpectedRange).Editable(false);
                                                      m.Field(o => o.OutOfRange).Editable(false);
                                                      m.Field(o => o.LabOutOfRange).Editable(false);
                                                  })
                                                  .PageSize(100)
                                                  .Read(read => read.Action("GetSampleDetails", "LabRegister", new { sampleId = "#=Id#" }))
                                                  .Create(r => r.Action("PostSampleDetail", "LabRegister", new { sampleId = "#=Id#" }))
                                                  .Update(r => r.Action("PutSampleDetail", "LabRegister", new { id = "{0}", sampleId = "#=Id#" }))
                                                  .Destroy(r => r.Action("DeleteSampleDetail", "LabRegister", new { id = "{0}", sampleId = "#=Id#" }))
                                                  )
                                                  .ToClientTemplate()
                                            )
                                        </text>);
                                                                                  items.Add().Text("Attachments").Content(@<text>

                                                                                    <form method="post" enctype="multipart/form-data" action='@System.Net.WebUtility.UrlDecode(Url.Action("PostSampleAttachment", "LabRegister",  new { sampleId = "#=Id#" }))'>
                                                                                        <div class="demo-section k-content">
                                                                                            @(Html.Kendo().Upload()
                                                                                                            .Name("files")
                                                                                                            .HtmlAttributes(new { aria_label = "files" }).ToClientTemplate()
                                                                                            )
                                                                                            <p style="padding-top: 1em; text-align: right">
                                                                                                <button type="submit" class="k-button k-primary">Upload</button>
                                                                                            </p>
                                                                                        </div>
                                                                                    </form>
                                                                                    @(Html.Kendo().Grid<LabSampleAttachment>()
                                                                             .Name("attgrid_#=Id#")
                                                                             .HtmlAttributes(new { @class = "k-small-font k-detail-table" })
                                                                             .Columns(columns =>
                                                                             {
                                                                                 columns.Bound(c => c.Id).Visible(false);
                                                                                 columns.Bound(c => c.SampleId).Visible(false);
                                                                                 columns.Bound(c => c.Description).Width(200).EditorTemplateName("Text");
                                                                                 columns.Bound(c => c.Uploaded).Width(200).Format(@"{0:dd/MM/yyyy hh:mm:ss tt}").EditorTemplateName("DateTime");
                                                                                 columns.Bound(c => c.FileSize).Width(200).EditorTemplateName("Text");
                                                                                 columns.Bound(c => c.LinkAddress).Width(300).ClientTemplate("<a style='color: blue;' href='/\\#=LinkAddress\\#' download>Download File</a>");
                                                                                 columns.Command(command =>
                                                                                 {
                                                                                     //command.Destroy().Text(" ");
                                                                                 }).Width(100);
                                                                             })
                                                                                         .Editable(editable => editable.Mode(GridEditMode.InLine).Enabled(false))

                                                                                         .DataSource(ds => ds.WebApi()
                                                                                         .Model(m =>
                                                                                         {
                                                                                             m.Id(i => i.Id);
                                                                                             m.Field(i => i.SampleId);
                                                                                         })
                                                                                         .PageSize(100)
                                                                                         .Read(read => read.Action("GetSampleAttachments", "LabRegister", new { sampleId = "#=Id#" }))
                                                                                         .Destroy(r => r.Action("DeleteSampleAttachment", "LabRegister", new { id = "{0}", sampleId = "#=Id#" }))
                                                                                         )
                                                                                         .ToClientTemplate())
                                                                                </text>);
                                                                                                                                  }).ToClientTemplate())

    #}#
</script>

<script id="GridToolbarTemplate" type="text/kendo-tmpl">
</script>
<script>
    function dataBound() {
        console.log("ro-RO " + kendo.getCulture().name);

        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    function convertData(data) {

        data.SampleDateTime = kendo.toString(data.SampleDateTime, "yyyy-MM-dd hh:mm:ss tt");
        data.DateSamplesSent = kendo.toString(data.DateSamplesSent, "yyyy-MM-dd hh:mm:ss tt");
        data.DateResultsReceived = kendo.toString(data.DateResultsReceived, "yyyy-MM-dd hh:mm:ss tt");

        console.log(data);
    }

    var expandedRow;
    function detailExpand(e) {

        let grid = $('#grid').data('kendoGrid');
        // Only one open at a time
        if (expandedRow != null && expandedRow[0] != e.masterRow[0]) {
            grid.collapseRow(expandedRow);
        }

        //grid.editRow(expandedRow);
        expandedRow = e.masterRow;

        e.masterRow.addClass("row-expanded");
        e.detailRow.addClass("row-expanded");
        //e.masterRow.find("td").css("z-index", 9999);
        //e.detailRow.find("td").css("z-index", 9999);

        $('#grid .k-grid-content').find('tr.k-master-row').not('.row-expanded').find('td').not(".k-hierarchy-cell").addClass("dimmed");
    }

    function detailInit(e) {

    }

    function detailCollapse(e) {
        console.log("collapse");

        $('#grid .k-grid-content').find('tr.k-master-row').not('.row-expanded').find('td').not(".k-hierarchy-cell").removeClass("dimmed");

        e.masterRow.removeClass("row-expanded");
        e.detailRow.removeClass("row-expanded");
        //e.masterRow.css("z-index", "");
        //e.detailRow.css("z-index", "");
    }

    function outOfRange(data) {

        var html = "";
        if (data) {

            html = kendo.format("<span class='text-danger'><strong>YES</strong></span>");
        }

        return html;
    }
</script>
