﻿@using SSWA.Local.Core.Lab
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;
@model SSWA.Local.Core.Lab.LabSampleTemplateHeader
<h2>Lab Register - Lab Sample Templates</h2>

@(Html.Kendo().Grid<LabSampleTemplateHeader>()
                .Name("grid")
                .HtmlAttributes(new { style = "min-width: 1600px;", @class = "k-small-font k-header-table" })
                .Columns(columns =>
                {
                    columns.Bound(c => c.Id).Visible(false);
                    columns.ForeignKey(f => f.LocationId, (ViewData["Locations"] as Dictionary<int, string>).ToList(), "Key", "Value")
                        .Title("Sample Location")
                        .EditorTemplateName("ForeignKeyDropDown");
                    columns.ForeignKey(f => f.SampleType, (ViewData["SampleTypes"] as Dictionary<string, string>).ToList(), "Key", "Value")
                        .Title("Sample Type")
                        .EditorTemplateName("ForeignKeyDropDown");

                    columns.Bound(c => c.Name).EditorTemplateName("Text");

                    columns.Bound(c => c.External);
                    columns.Bound(c => c.Comments).EditorTemplateName("TextArea");
                    columns.Command(command => { command.Edit(); }).Width(250);
                })
                .ToolBar(t => { t.Create().Text("Create New Template"); })
                .DataSource(ds => ds.WebApi()
                    .Model(m =>
                    {
                        m.Id(i => i.Id);
                    })
                    .Sort(f => f.Add(i => i.Name).Ascending())
                    .Read(r => r.Action("GetTemplates", "LabRegister"))
                    .Create(r => r.Action("PostTemplate", "LabRegister"))
                    .Update(r => r.Action("PutTemplate", "LabRegister", new { id = "{0}" }))
                    .PageSize(20))
                .Pageable()
                .Sortable()
                .Filterable()
                .ColumnMenu()
                .ClientDetailTemplateId("template")
                .Events(events => events.DataBound("dataBound").DetailExpand("detailExpand").DetailCollapse("detailCollapse").DetailInit("detailInit"))
)

<script id="template" type="text/kendo-tmpl">
    #if(Id > 0){#
    @(Html.Kendo().Grid<LabSampleTemplateDetail>()
                                    .Name("grid_#=Id#")
                                    .HtmlAttributes(new { @class = "k-small-font k-detail-table" })
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.Id).Visible(false);
                                        columns.Bound(c => c.TemplateId).Visible(false);
                                        columns.Bound(c => c.AnalyserId)
                                            .EditorTemplateName("LabAnalyser")
                                            .EditorViewData(new { locationId = "#=LocationId#" })
                                            .Title("Analyser (Where Applicable)");
                                        columns.ForeignKey(f => f.AnalyteId, (ViewData["Analytes"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                            .Title("Analyte")
                                            .EditorTemplateName("LabAnalyte");
                                        columns.ForeignKey(f => f.UnitId, (ViewData["Units"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                            .Title("Unit")
                                            .EditorTemplateName("LabUnit");
                                        columns.Bound(o => o.ExpectedMinimum).EditorTemplateName("Decimal").Width(100);
                                        columns.Bound(o => o.ExpectedMaximum).EditorTemplateName("Decimal").Width(100);
                                        columns.Bound(o => o.Comments).EditorTemplateName("TextArea").Width(250);
                                        columns.ForeignKey(o => o.DefaultUnitId, (ViewData["DefaultAnalyteUnits"] as Dictionary<int, string>).ToList(), "Key", "Value")
                                        .Hidden(true)
                                        .EditorTemplateName("ForeignKeyDropDown");
                                        columns.Command(command => { command.Edit(); }).Width(250);
                                    })
                                    .ToolBar(t => { t.Create().Text("Add Analyser"); })
                                    .DataSource(ds => ds.WebApi()
                                        .Model(m =>
                                        {
                                            m.Id(i => i.Id);
                                            m.Field(i => i.TemplateId);
                                            m.Field(i => i.DefaultUnitId);
                                        })
                                        .PageSize(100)
                                        .Read(read => read.Action("GetTemplateDetails", "LabRegister", new { templateId = "#=Id#" }))
                                        .Create(r => r.Action("PostTemplateDetail", "LabRegister", new { templateId = "#=Id#" }))
                                        .Update(r => r.Action("PutTemplateDetail", "LabRegister", new { id = "{0}", templateId = "#=Id#" }))
                                        .Destroy(r => r.Action("DeleteTemplateDetail", "LabRegister", new { id = "{0}", templateId = "#=Id#" }))
                                    )
                                    .ToClientTemplate()
    )
    #}#
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }

    var expandedRow;
    function detailExpand(e) {

        let grid = $('#grid').data('kendoGrid');
        // Only one open at a time
        if (expandedRow != null && expandedRow[0] != e.masterRow[0]) {
            grid.collapseRow(expandedRow);
        }

        //grid.editRow(expandedRow);
        expandedRow = e.masterRow;

        e.masterRow.addClass("row-expanded");
        e.detailRow.addClass("row-expanded");
        //e.masterRow.find("td").css("z-index", 9999);
        //e.detailRow.find("td").css("z-index", 9999);

        $('#grid .k-grid-content').find('tr.k-master-row').not('.row-expanded').find('td').not(".k-hierarchy-cell").addClass("dimmed");
    }

    function detailInit(e) {

    }

    function detailCollapse(e) {
        console.log("collapse");

        $('#grid .k-grid-content').find('tr.k-master-row').not('.row-expanded').find('td').not(".k-hierarchy-cell").removeClass("dimmed");

        e.masterRow.removeClass("row-expanded");
        e.detailRow.removeClass("row-expanded");
        //e.masterRow.css("z-index", "");
        //e.detailRow.css("z-index", "");
    }

    function outOfRange(data) {

        var html = "";
        if (data) {

            html = kendo.format("<span class='text-danger'><strong>YES</strong></span>");
        }

        return html;
    }
</script>