﻿@using SSWA.Local.Core.Lab
@model SSWA.Local.Core.Lab.LabUnit
<h2>Lab Register - Analyte Units</h2>

@(Html.Kendo().Grid<LabUnit>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Unit);
            columns.Bound(c => c.Order);
            columns.Bound(c => c.Factor);
            columns.Bound(c => c.Comments);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Unit);
                m.Field(f => f.Order);
                m.Field(f => f.Factor);
                m.Field(f => f.Comments);
            })
            .Read(r => r.Action("GetUnits", "Lab"))
            .Create(r => r.Action("PostUnit", "Lab"))
            .Update(r => r.Action("PutUnit", "Lab", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)