﻿<ul class="list-group p-5 m-auto">
    <li class="list-group-item">
        <a href="/Shifts">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="far fa-fw fa-stack-1x fa-clock text-black"></i>
            </span>
            <span>Daily Shift Log</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/Inspections">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="far fa-fw fa-stack-1x fa-eye text-black"></i>
            </span>
            <span>Inspection Log</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/ChemicalOrders/Manage">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="far fa-fw fa-stack-1x fa-shopping-basket text-black"></i>
            </span>
            <span>Chemical Orders</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/ChemicalDeliveries/Manage">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="far fa-fw fa-stack-1x fa-truck-loading text-black"></i>
            </span>
            <span>Chemical Deliveries</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/LabRegister/Manage/Samples">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="fa fa-fw fa-stack-1x fa-flask text-black"></i>
            </span>
            <span>Laboratory Samples Log</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="/PlantInstructions/Manage">
            <span class="fa-stack fa-lg text-dark mr-5">
                @*<i class="fal fa-fw fa-stack-2x fa-square text-secondary"></i>*@
                <i class="far fa-fw fa-stack-1x fa-chalkboard-teacher text-black"></i>
            </span>
            <span>Plant Instructions</span>
        </a>
    </li>
</ul>