﻿@using SSWA.Local.Web.UseCases.ManageChemicalProducts
@model SSWA.Local.Web.UseCases.ManageChemicalProducts.ViewModel
<h2>Chemical Products</h2>

@(Html.Kendo().Grid<ViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Visible(false);
            columns.Bound(c => c.Chemical);
            columns.Bound(c => c.Type);
            columns.Bound(c => c.Supplier);
            columns.Bound(c => c.Quantity);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Chemical);
                m.Field(f => f.Type);
                m.Field(f => f.Supplier);
                m.Field(f => f.Quantity);
            })
            .Read(r => r.Action("Get", "ChemicalProducts"))
            .Create(r => r.Action("Post", "ChemicalProducts"))
            .Update(r => r.Action("Put", "ChemicalProducts", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)