﻿@using SSWA.Local.Web.UseCases.ManageSystems
@model SSWA.Local.Web.UseCases.ManageSystems.ViewModel
<h2>Plant Systems</h2>

@(Html.Kendo().Grid<ViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Notes);
            columns.ForeignKey(f => f.Area, (ViewData["Areas"] as Dictionary<string, string>).ToList(), "Key", "Value")
                    .EditorTemplateName("ForeignKeyDropDown");
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
            })
            .Read(r => r.Action("Get", "Systems"))
            .Create(r => r.Action("Post", "Systems"))
            .Update(r => r.Action("Put", "Systems", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)