﻿/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

i.icon-align-middle {
    display: flex;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;
}

h2, h3 {
    line-height: 1;
}

body, .k-widget, .btn, .k-button {
    font-size: 0.875rem !important;
}

.k-header-table th.k-header {
    background-color: #333;
    color: #eee;
    border-color: #aaa;
}

.k-header-table th.k-header.k-sorted {
    background-color: #444;
    color: #fff;
}

    .k-header-table th.k-header a {
        color: #eee;
    }

.k-detail-table th.k-header {
    background-color: #eee;
    color: #000;
}

.k-detail-table th.k-header a {
    color: #000;
}

td.k-hierarchy-cell {
    background-color: #eee;
}

.k-alt td.k-hierarchy-cell {
    background-color: #ddd;
}

.k-small-font {
    font-size: 0.8rem !important;
}

    .k-small-font .k-autocomplete .k-input, .k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-picker-wrap .k-input, .k-multiselect-wrap .k-input, .k-numeric-wrap .k-input, .k-textbox, .k-input.k-textbox, .k-textarea {
        font-size: 0.8rem !important;
    }

.k-small-font .k-grid th, .k-grid td {
    padding: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.k-small-font .k-grid th, a {
    font-weight: bold;
}

.k-small-font .k-grid td {
    color: #000;
}

.dimmed {
    position: relative;
    border-color: #000 !important;
    filter: blur(2px);
    /*filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='svgMask'><feGaussianBlur stdDeviation='2' /></filter></svg>#svgMask");*/
}

    .dimmed:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);

    }

.row-expanded.k-detail-row {
    box-shadow: 0px 10px 10px 0px rgba(11,62,97,0.5);
}

    .row-expanded.k-detail-row td.k-hierarchy-cell {
        border-left: 4px solid #007bff;
    }

    .row-expanded.k-detail-row td.k-hierarchy-cell,
    .row-expanded.k-detail-row td.k-detail-cell {
        border-bottom: 4px solid #007bff;
    }

    .row-expanded.k-detail-row td.k-detail-cell:last-child {
        border-right: 4px solid #007bff;
    }


.row-expanded.k-master-row {
    box-shadow: 0px -10px 10px 0px rgba(11,62,97,0.5);
}

    .row-expanded.k-master-row td {
        border-top: 20px solid #007bff;
    }

        .row-expanded.k-master-row td:first-child {
            border-left: 4px solid #007bff;
        }

        .row-expanded.k-master-row td:last-child {
            border-right: 4px solid #007bff;
        }

.k-grid .k-grid-header .k-header .k-link {
    height: auto;
}

.k-grid .k-grid-header .k-header {
    white-space: normal;
}