﻿@using SSWA.Local.Application
@model SSWA.Local.Application.InspectionOutput
@using Kendo.Mvc.UI;
@using Kendo.Mvc.Extensions;

@inject SSWA.Local.Application.Services.ICurrentUserService UserService;

@{
    ViewData["Title"] = "Inspection Log";
    var backgroundColor = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "warning" : "primary";
    var textColor = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "dark" : "light";
    var icon = Model.ThisShift.Shift.ToLowerInvariant() == "day" ? "sun" : "moon";
}

<div class="row py-3 bg-light">
    <div class="col-sm-4 text-left align-middle">
        <shift-navigation date="@Model.PreviousShift.Date" shift="@Model.PreviousShift.Shift" filter-id="@Model.PreviousShift.FilterId" controller="Inspections" position="left">
        </shift-navigation>
    </div>
    <div class="col-sm-4 text-center">
        <h3 class="mb-4"><a href="/Inspections">INSPECTION LOG</a></h3>
        <div class="text-@textColor">
            <h6 class="bg-dark text-light d-inline-block p-2 rounded m-0 mx-1 ">@Model.ThisShift.Date.Date.ToString("dd MMM yy").ToUpperInvariant()</h6>
            <h6 class="bg-@backgroundColor d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-@icon"></i> @Model.ThisShift.Shift.ToUpperInvariant() SHIFT</h6>
            @if (Model.ThisShift.IsCurrentShift)
            {
                <h6 class="bg-success text-light d-inline-block p-2 rounded m-0 mx-1"> <i class="fas fa-fw fa-bolt"></i> LIVE SHIFT</h6>
            }
            else if (Model.ThisShift.IsPastShift)
            {
                <h6 class="bg-secondary text-white-50 d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-clock"></i> PAST SHIFT</h6>

            }
            else if (Model.ThisShift.IsFutureShift)
            {
                <h6 class="bg-danger text-light d-inline-block p-2 rounded m-0 mx-1"> <i class="far fa-fw fa-clock"></i> FUTURE SHIFT</h6>
            }
        </div>

    </div>
    <div class="col-sm-4 text-right">
        <shift-navigation date="@Model.NextShift.Date" shift="@Model.NextShift.Shift" filter-id="@Model.PreviousShift.FilterId" controller="Inspections" position="right">
        </shift-navigation>
    </div>
</div>
<div class="row p-4">
    <div class="col-sm-4">
        <form asp-action="SearchShift" method="get">
            <dl class="row">
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-8">
                    <kendo-datepicker name="datepicker"
                                      start="CalendarView.Month"
                                      depth="CalendarView.Month"
                                      format="yyyy-MM-dd"
                                      value="Model.Date"
                                      for="Date"
                                      class="w-100" />
                </dd>
                <dt class="col-4">
                    Shift
                </dt>
                <dd class="col-8">
                    <kendo-dropdownlist for="ShiftType"
                                        bind-to='new List<string> { "Day", "Night" }'
                                        class="w-100">
                    </kendo-dropdownlist>
                </dd>
                <dt class="col-4">
                    Project
                </dt>
                <dd class="col-8">
                    <kendo-dropdownlist for="Project"
                                        bind-to='(ViewData["Projects"] as Dictionary<string, string>).Select(x => new { Id = x.Key, Name = x.Value })'
                                        datavaluefield="Id"
                                        datatextfield="Name"
                                        class="w-100">
                    </kendo-dropdownlist>
                </dd>
                <dt class="col-4">
                    Area
                </dt>
                <dd class="col-8">
                    <kendo-dropdownlist for="AreaId"
                                        bind-to='(ViewData["Areas"] as Dictionary<string, string>).Select(x => new { Id = x.Key, Name = x.Value })'
                                        datavaluefield="Id"
                                        datatextfield="Name"
                                        class="w-100">
                    </kendo-dropdownlist>
                </dd>
                <dt class="col-4">
                    &nbsp;
                </dt>
                <dd class="col-8">
                    <button type="submit" class="btn btn-sm float-right"><i class="fas fa-search"></i> Go</button>
                </dd>
            </dl>
        </form>

    </div>



</div>
<div class="row">
    <div class="col-sm-12">

        <div id="grid"></div>

        <script id="noDataTemplate" type="text/x-kendo-tmpl">
            # var value = instance.input.val(); #
            # var id = instance.element[0].id; #
            <div>
                No prefilled options found. Add value?
            </div>
            <button class="k-button" onclick="addNew('#: id #', '#: value #')" ontouchend="addnew('#: id #', '#: value #')">Add value</button>
        </script>

        <script>
            function addNew(id, value) {
                let widget = $("#" + id).getKendoMultiSelect();
                let dataSource = widget.dataSource;

                dataSource.add({ value: value });

                dataSource.one("requestEnd", function(args) {
                    if (args.type !== "create") {
                        return;
                    }

                    let newValue = args.response[0].value;

                    dataSource.one("sync", function() {
                        widget.value(widget.value().concat([newValue]));

                    });
                });

                dataSource.sync();
            }
        </script>

        <script>
            $(document).ready(function () {
                dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "/InspectionLogs/Get",
                            dataType: "json",
                            method: "GET",
                        },
                        update: {
                            url: function (data) {
                                return "/InspectionLogs/Put?date=@Model.ThisShift.Date.ToString("yyyy-MM-dd")&shiftType=@(Html.ValueFor(m => m.ThisShift.Shift))&itemId=" + data.InspectionItemId;
                            },
                            dataType: "json",
                            contentType: "application/json",
                            method: "PUT"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(options);
                            }
                            if (operation == "read") {
                                return { request: kendo.stringify(options), date: "@Model.ThisShift.Date.ToString("yyyy-MM-dd")", shiftType: "@(Html.ValueFor(m => m.ThisShift.Shift))", project: "@(Model.ThisShift.FilterId.Split(',')[0])", areaId: "@(Model.ThisShift.FilterId.Split(',')[1])" };
                            }
                        }
                    },
                    batch: false,
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "InspectionItemId",
                            fields: {
                                InspectionItemId: { editable: false, nullable: false },
                                AreaName: { editable: false },
                                InspectionItemName: { editable: false },
                                Value: {}
                            }
                        }
                    },
                    autoSync: true
                });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    columns: [
                        {
                            field: "InspectionItemId", title: "Inspection Item Id", hidden: true
                        },
                        {
                            field: "AreaName", title: "Area", selectable: false, navigatable: false
                        },
                        {
                            field: "InspectionItemName", title: "Inspection Item", selectable: false, navigatable: false
                        },
                        {
                            field: "Value", title: "Value", editor: valueEditor, template: "# if (Value.Value == null) {  #<span data-content=' '></span># } else if (typeof Value.Value === 'object') {  #<span data-content='#:Value.Value#'>#=Value.Value.map(x => { return x.value; }).join(', ')#</span># } else { #<span data-content='#:Value.Value#'>#=Value.Value#</span># } #"
                        },
                        //{ command: ["edit"], title: "&nbsp;", width: "250px" }
                    ],
                    editable: "incell",
                    navigatable: false,

                });
            });

            function valueEditor(container, options) {
                if (options.model.Value.Type == "lookup") {
                    let values = options.model.Value.Options.map(x => { return { value: x }; });
                    var input = $('<input id="' + options.model.InspectionItemId +'" data-bind="value:Value.Value"  data-placeholder="select option / type ..."/>')
                    input.appendTo(container);
                    input.kendoMultiSelect({
                        autoBind: false,
                        autoClose: false,
                        dataSource: {
                            data: values
                        },
                        dataTextField: "value",
                        dataValueField: "value",
                        noDataTemplate: $('#noDataTemplate').html()
                    });
                }
                else if (options.model.Value.Type == "text") {
                    var input = $('<input type="text" class="k-input k-textbox" name="Value.Value" data-bind="value:Value.Value">');
                    input.appendTo(container);
                }
                else if (options.model.Value.Type == "numeric") {
                    var input = $('<input id="numeric" type="number" title="numeric" data-bind="value:Value.Value" style="width: 100%;" />');
                    input.appendTo(container);
                    input.kendoNumericTextBox();
                }
            }

        </script>

        @*@(Html.Kendo().Grid<InspectionLogOutput>()
                                                                   .Name("grid2")
                                                                   .Events(e => e.Edit("grid_edit"))
                                                                   .Columns(columns =>
                                                                   {
                                                                       columns.Bound(c => c.InspectionItemId).Visible(false);
                                                                       columns.Bound(c => c.AreaName);
                                                                       columns.Bound(c => c.InspectionItemName);

                                                                       columns.Bound(c => c.Value)
                                                                           .Title("Value 1")
                                                                           .ClientTemplate("#= valueTemplate(Value) #")
                                                                           .Editable("isText");

                                                                       columns.Bound(c => c.Value)
                                                                            .Title("Value 2")
                                                                            .ClientTemplate("#= valueTemplate(Value) #")
                                                                            .Editable("isNumeric");

                                                                       columns.Bound(c => c.Value)
                                                                            .Title("Value 2")
                                                                            .ClientTemplate("#= valueTemplate(Value) #")
                                                                            .Editable("isLookup");


                                                                       columns.Command(command => { command.Edit(); }).Width(250);
                                                                   })
                                                                   .DataSource(ds => ds.WebApi()
                                                                       .Model(m =>
                                                                       {
                                                                           m.Id(i => i.InspectionItemId);
                                                                           m.Field(f => f.AreaName).Editable(false);
                                                                           m.Field(f => f.InspectionItemName).Editable(false);
                                                                           m.Field(f => f.Value).DefaultValue(new InspectionLogValue());
                                                                           m.Field(f => f.Value.Options).Editable(false).DefaultValue(new List<string>());
                                                                           m.Field(f => f.Value.Type).Editable(false).DefaultValue("text");
                                                                           m.Field(f => f.Value.Value);

                                                                       })
                                                                       .Read(r => r.Action("Get", "InspectionLogs", new { date = Model.ThisShift.Date, shiftType = Model.ThisShift.Shift, areaId = Model.ThisShift.FilterId }))
                                                                       .Update(r => r.Action("Put", "InspectionLogs", new { id = "{0}" }))
                                                                       .PageSize(20))
                                                                   .Pageable()
        )*@
    </div>

    <script>
        function valueTemplate(value) {

            if (value.Value) {
                return value.Value;

            }
            else {
                return "";
            }

        }

        function test(dataItem) {
            console.log(dataItem);

        }

        function isText(dataItem) {
            return dataItem.Type == "text";

        }

        function isNumeric(dataItem) {
            return dataItem.Type == "numeric";

        }

        function isLookup(dataItem) {
            return dataItem.Type == "lookup";

        }

        function getRowData() {
            var row = $(event.srcElement).closest("tr");
            var grid = $(event.srcElement).closest("[data-role=grid]").data("kendoGrid");
            var dataItem = grid.dataItem(row);
            if (dataItem)
                return { options: dataItem.Options, type: dataItem.Type }
            else
                return { options: [], type: 'text' }
        }

        function grid_edit(e) {

            let model = e.model;

            switch (model.Value.Type) {
                case 'text':
                    console.log("TEXT!");
                    break;
                case 'numeric':
                    console.log("NUMERIC");
                    break;
                case 'lookup':
                    console.log("LOOKUP")
                    break;
                default:
                    break;
            }

        }
    </script>
</div>



