﻿@using SSWA.Local.Web.UseCases.ManageAreas
@model SSWA.Local.Web.UseCases.ManageAreas.ViewModel
<h2>Areas</h2>

@(Html.Kendo().Grid<ViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Id).Width(50);
            columns.Bound(c => c.Name);
            columns.Bound(c => c.Title);
            columns.Bound(c => c.Comments);
            columns.Bound(c => c.UseArea);
            columns.Command(command => { command.Edit(); }).Width(250);
        })
        .ToolBar(t => { t.Create(); })
        .DataSource(ds => ds.WebApi()
            .Model(m => {
                m.Id(i => i.Id);
                m.Field(f => f.Id);
                m.Field<bool>(f => f.UseArea).DefaultValue(true);
            })
            .Read(r => r.Action("Get", "Areas"))
            .Create(r => r.Action("Post", "Areas"))
            .Update(r => r.Action("Put", "Areas", new { id = "{0}" }))
            .PageSize(20))
        .Pageable()
)